.operation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 300ms;
  position: relative;
}

.item:hover .operation-container {
  background-color: #21396c;
}

.operation-title {
  font-size: 24px;
  margin: 0 0 5px;
}

.operation-date {
  font-size: 12px;
  margin: 0;
  font-weight: lighter;
}

.operation-link {
  text-decoration: none;
  position: relative;
}

.income{
  color: #57D054;
}

.spending{
  color: #ed476e;
}