.button {
  padding: 10px 20px;
  color: white;
  background-color: #142241;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: background-color 300ms;
}

.button:hover {
  background-color: #21396c;
}
