.container {
  position: relative;
  border-bottom: 1px solid white;
  transition: border-color 300ms;
}

.placeholder {
  position: absolute;
  font-size: 16px;
  transition: font-size 300ms, transform 300ms, color 300ms;
  color: white;
}

.input {
  position: relative;
  border: none;
  background-color: transparent;
  color: white;

  font-size: 15px;
  width: 100%;
}

.input:focus {
  outline: none;
}

.container:has(.input:focus) {
  border-color: #d4af37;
}

.container:has(input:focus) .placeholder {
  font-size: 12px;
  transform: translateY(-13px);
  color: #d4af37;
}

.active-label {
  font-size: 12px;
  transform: translateY(-13px);
}
