.main-nav {
  padding: 10px 20px;
  background-color: rgb(25, 16, 93);
  color: white;
}

.main-nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.main-nav-li:not(:last-child) {
  margin-right: 10px;
}

.main-nav-li {
  position: relative;
}

.main-nav-li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 500ms, background-color 500ms;
}

.main-nav-li:hover::before {
  transform: scaleX(1);
  background-color: #d4af37;
}

.link {
  color: white;
  text-decoration: none;
  transition: color 500ms;
}

.main-nav-li:hover .link {
  color: #d4af37;
}

.active {
  color: #d4af37;
}

.main-nav-li:has(.active)::before {
  background-color: #d4af37;
  transform: scaleX(1);
}
